<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
     {{>navbar}}

    <!-- <--main header-> -->
    <div class ="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.jpg" alt="amar" class="img-fluid" title="amar anand">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather App</p>
                        <h1>I Am A <span class="text_clr"> Mern Stack Developer </span> </h1>
                        <a href="https://www.linkedin.com/in/amar-anand-63507b239/" target="-amar"><button>About Me</button></a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
       {{>footer}}

</body>
</html>